.main{
    height: 95vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 120px;
    margin-top: 30px;
}
.image{
    border-radius: 5px;
}
.bio{
    margin-left: 50px;
}
.intro{
    color: #1e1e1e;
    font-weight: 600;
    font-size: 36px;
}
.description{
    color: #808996;
    font-size: 20px;
    margin-top: 75px;
    font-weight: lighter;
    line-height: 40px;
}